<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unknwn</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="logo">unknwn</div>


            <div id="menu">
                <transition name="menu-on" mode="out-in">
                    <div class="btn-menu" v-if="!show" @click="show = !show"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg> </div>
                  <div class="btn-menu" v-else @click="show = !show"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg> </div>
                </transition>
                  <transition name="menu">
                    <div class="mob-menu-on" v-if="show">
                      <a href="#" class="mobile-menu" v-for="item in items">{{ item }}</a>
                    </div>
                  </transition>
                    
                </div>


            <div class="menu-nav">
                <a href="#" class="link">about</a>
                <a href="#" class="link">cases</a>
                <a href="#" class="link">team</a>
                <a href="#" class="link">contacts</a>
            </div>
        </nav>
        <div class="intro"> 
            <h1 class="unknwn">UNKNWN</h1>
            <h2 class="n-chance">no chance against us</h2>
            <div class="block-1">
                <div class="line-1-2">
                    <div class="line-2-1"></div>
                </div>
            </div>
            <div class="block-2">
                <div class="line-1-2">
                    <div class="line-2-1"></div>
                </div>
            </div>
          </div>
    </header>
    
    
    <section class="about-us">
        <div class="container">
                <p class="about-us-text">
                    At unknwn, we perform high-end IT and digital solutions by using neoteric development approaches and user-oriented designs.</br></br>
        We do <span class="color">single page applications,  website construction, hard ware integrations, mobile applications, cross-platform apps</span> and things you even about
        <span class="unk1">Unknwn</span>
                </p>
        </div>
    </section>
    <section class="cases">
        <div class="container">
            <h1 class="cases-intro"> <span class="unk">unknwn</span> cases</h1> 
        </div>
        <div class="w-container">
            <div class="container">
                <div class="row">
                    <div class="item">
                        <h1 class="maintext-project">Cryptocurrency trading launchpad</h1>
                        <p class="subtext-project">Graphical User Interface for crypto trading through and API</p>
                    </div>
        
                    <div class="item">
                            <h1 class="maintext-project">CRM system </br> for logistics company</h1>
                        <p class="subtext-project">An Electron based inner solution for a Portuguese freight company</p>
                    </div>
                    </div>
            </div>
        </div>
        <div class="w-container">
            <div class="container">
                <div class="row">
                    <div class="item">
                        <h1 class="maintext-project">Cryptocurrency trading launchpad</h1>
                        <p class="subtext-project">Graphical User Interface for crypto trading through and API</p>
                    </div>
        
                    <div class="item">
                            <h1 class="maintext-project">CRM system </br> for logistics company</h1>
                        <p class="subtext-project">An Electron based inner solution for a Portuguese freight company</p>
                    </div>
                    </div>
            </div>
        </div>
        <div class="container">
            <p class="cases-text-end">
                AND MANY MORE</br> PROJECTS UNDER</br> <span class="goddamn">
                    <svg class="svg-item" width="235" height="48" viewBox="0 0 235 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.525672 4.857C3.25336 3.03974 39.6226 -2.41185 45.9872 1.22257C52.3518 4.857 224.196 1.82835 230.561 4.857C236.926 7.88565 236.016 47.2587 230.561 47.2587C219.65 40.5955 79.6287 50.893 45.9872 43.6242C40.5318 43.0184 3.25351 50.2872 0.525672 47.2587C6.89027 33.3265 -2.20202 6.67425 0.525672 4.857Z" fill="#0047FF" fill-opacity="0.97"/>
                        </svg>
                    GODDAMN</span> NDA</p>
        </div>        
    </section>
    <section class="unknwn-team">
        <div class="container">
            <h1 class="team-logo">unknwn</h1>
        </div>
        <div class="line"></div>
        <div class="container">
        <h2 class="team-text">
            Every project <span class="unk1">unknwn</span> deliver is the outcome</br> of our team’s collaboration. Over the years we came</br> to a paradigm that every business has to be digitalised, no matter if it’s a local or global.
        </h2>
        </div>
        <div class="top-container">
            <div class="container">
                <div class="team-profile">
                    <div class="user-profile">
                        <img src="pics/image 22.svg" alt="" class="user-pic"></img>
                        <p class="name">Alexey Semenov</p>
                        <p class="who">Founder, Full-stack Developer</p>
                    </div>
            
                    <div class="user-profile">
                        <img src="pics/image 23.svg" alt="" class="user-pic"></img>
                        <p class="name">Valeria Kulieva</p>
                        <p class="who">Head of Design</p>
                    </div>
            
                    <div class="user-profile">
                        <img src="pics/image 24.svg" alt="" class="user-pic"></img>
                        <p class="name">Maksim Ermolaev</p>
                        <p class="who">Product Development Manager</p>
                    </div>
            
                    <div class="user-profile">
                        <img src="pics/image 25.svg" alt="" class="user-pic"></img>
                        <p class="name">Vlad Chokin</p>
                        <p class="who">Designer, Frontend Developer</p>
                    </div>
                </div> 
            </div>
        </div>
        <div class="container">
            <p class="text-team-end">
                And 15+ more amazing people</br> which changing the world every day</br> at unknwn
            </p>
        </div>



        
    </section>
    <section class="contact">
        <div class="container">
            <div class="rocol">
            <div class="left-side">
                <h1 class="contact-zag">Let us know about you</h1>
                <p class="main-contact">You up to:</p>
                <div class="chose">
                    <button class="chose-problem">Mobile app</button>
                    <button class="chose-problem">Single page application</button>
                    <button class="chose-problem">Hardware integration</button>
                    <button class="chose-problem">Website construction</button>
                    <button class="chose-problem">Individual solution</button>
                    <button class="chose-problem">Other</button>
                    </div>
                    <p class="main-contact">Your contact info</p>
                    <input class="input-em" type="email" id="email" pattern=".+@globex.com" placeholder="Your email, phone, ZIP-code or other contact info">
                    <p class="main-contact">Message</p>
                    <textarea class="input-text" placeholder="Please, tell us anything about your project!"></textarea>
            <button class="send-req">Send request</button>
            </div>
            <div class="inf-contact">
                <h1 class="inf-zag-text">You can always send us</br> email anytime you want to</br>
                    <a style="text-decoration:underline; cursor: pointer;">contact@unknwn.tech ⎘</a> </h1>
                    <p class="inf-subtext">Or you can receive a letter from us if you prefer a slow but elegant way of communication. A custom postcard will be included in response mail. Just leave us your address with a ZIP-code in the form on the left, and wait for a letter! </p>
            </div>
        </div>
        </div>
    </section>
    <section class="footer">
        <div class="end">
            <div class="unknwn-end">UNKNWN</div>
            <div class="stroke">
                <p class="mark">goddamn NDA</p>
                <p class="mark">sugarfree</p>
                <p class="mark">webgl</p>
                <p class="mark">style</p>
                <p class="mark">awesome works</p>
                <p class="mark">single page applications</p>
                <p class="mark">unknwn</p>
                <p class="mark">mobile applications</p>
                <p class="mark">blockchain and fintech</p>
            </div>
        </div>
        <nav class="nav-end">
            <div class="end-menu">
                <div class="logo-end">unknwn</div>
                <a href="#" class="link-end">about</a>
                <a href="#" class="link-end">cases</a>
                <a href="#" class="link-end">team</a>
                <a href="#" class="link-end">contacts</a>
            </div>
            <div class="end-menu">
                <a href="#" class="link-end">Terms and conditions</a>
                <a href="#" class="link-end">Privacy policy</a>
                <a href="#" class="f">© 2018—2019 unknwn</a>
            </div>
        </nav>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="scripts.js"></script>
</body>
</html>