@import "/reset.css";

$primary-font: 24px;
$secondary-font: 49px;
$sub-font: 18px;
$h1-font: 72px;
$primary-color: rgba(255, 255, 255, 1);
$secondary-color: rgba(0, 0, 0, 1);
$background-color: rgba(19, 19, 19, 1);

%h1-big {
    font-size: $h1-font;
    color: $primary-color;
    line-height: 93.6px;
}
%h2-sub {
    font-size: $secondary-font;
    color: $primary-color;
    line-height: 63.7px;
}

body {
    margin: 0;
    font-family: "NeueMontreal-Bold";
    font-size: $primary-font;
    color: $primary-color;
    overflow-x: hidden;
}
h1,h2,p,a {margin:0;}
*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 1180px;
    margin: 0 auto;
}
.top-container {
    width: 100%;
    border-top: 1px solid rgba(222, 222, 222, 1);
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}
.w-container {
    width: 100%;
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #4D4D4D;
    &:nth-child(3) {
        border-top: none;
    }
}

/* HEADER */
.header {
    background-color: $background-color;
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;

        padding: 24px 40px;
        line-height: 31.2px;
        border-bottom: 1px solid rgba(77, 77, 77, 1);
    }
    .link {
        text-decoration: none;
        margin-right: 36px;
        color: $primary-color;
    }
    .link:last-child {
        margin-right: 0;
    }
    .intro {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 795px;
    }
}
.block-1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid rgba(77, 77, 77, 1);
}
.line-1-2 {
    width: 719px;
    border-left: 1px solid rgba(77, 77, 77, 1);
    border-right: 1px solid rgba(77, 77, 77, 1);
}
.line-2-1 {
    width: 50%;
    height: 100%;
    border-right: 1px solid rgba(77, 77, 77, 1);
}
.block-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}
.unknwn {
    position: absolute;
    top: 19%;
    font-size: 16.5vw;
    line-height: 414.7px;
    color: transparent;
    -webkit-text-stroke: 2px rgba(52, 52, 52, 1); 
}
.unk {
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7); 
}
.n-chance {
    position: absolute;
    top: 44.3%;
    font-size: 3.3vw;
    color: rgba(255, 255, 255, 1);
}

/* ABOUT-US */

.about-us {
    display: flex;
    padding: 140px 0px 76px 0px;

    .about-us-text {
        @extend %h2-sub;
        color: $secondary-color;

        width: 70%;
        margin: 0 auto;
    }
    .color {
        color: blue;
    }
}

/* CASES */ 

.cases {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    padding: 72px 0px 174px 0px;

    .cases-intro {
        @extend %h1-big;
        margin: 0px 0px 80px;
    }
    .row {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -50px;
    }
    .item {
        width: 50%;
        padding: 56px 116px 56px 50px;
        border-left: 1px solid rgba(77, 77, 77, 1);
        border-right: 1px solid rgba(77, 77, 77, 1);
        &:nth-child(2) {
            border-left: none;
        }
    }
    .maintext-project {
        @extend %h2-sub;
        margin: 0px 0px 24px 0px;
    }
    .subtext-project {
        font-family: "NeueMontreal-Light";
        max-width: 384px;
        font-size: $sub-font;
        line-height: 23.4px;
        font-weight: 500;
    }
    .cases-text-end {
        margin-top: 96px;
        @extend %h2-sub;
        text-transform: uppercase;
    }
}

/* UNKNWN-TEAM */


.unknwn-team {
    display: flex;
    flex-direction: column;
    padding: 70px 0px 96px 0px;


    .team-logo {
        @extend %h1-big;
        color: $secondary-color;
        margin: 0px 0px 136px;
    }
    .team-text {
        @extend %h2-sub;
        color: $secondary-color;
        margin: 0px 0px 56px;
    }
    .team-profile {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px;
    }
    .user-profile {
        width: 25%;
        padding: 30px 30px;
        border-left: 1px solid rgba(222, 222, 222, 1);
        border-right: 1px solid rgba(222, 222, 222, 1);
        &:nth-child(2) {
            border-right: none;
            border-left: none;
        }
        &:nth-child(4) {
            border-left: none;
        }
    }
    .user-pic {
        width: 250px; 
        height: 250px;
    }
    .name {
        font-size: 22px;
        line-height: 28.6px;
        color: $secondary-color;
        padding: 20px 0px 4px;
    }
    .who {
        font-family: "NeueMontreal-Light";
        font-size: 18px;
        line-height: 23.4px;
        color: $secondary-color;
        font-weight: 400;
    }
    .text-team-end {
        margin-top: 64px;
        font-size: $primary-font;
        line-height: 31.2px;
        color: $secondary-color;
    }
}

/* CONTACT */

.contact {
    display: flex;
    padding: 96px 0px 190px 0px;
    background-color: #163699;

    .rocol {
        display: flex;
    }
    .left-side {
        display: flex;
        flex-direction: column;
        width: 65%;
    }
    .contact-zag {
        @extend %h2-sub;
        margin: 0px 0px 50px;
    }
    .main-contact {
        font-size: $primary-font;
        line-height: 31.2px;
        margin: 0px 0px 20px;
    }
    .chose {
        margin-bottom: 30px;
    }
    .chose-problem {
        font-family: "NeueMontreal-Bold";
        font-size: 18px;
        line-height: 23.4px;
        background: transparent;
        color: $primary-color;
        padding: 10px 20px 10px 20px;
        border: 1px solid $primary-color;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .input-em {
        @extend .chose-problem;
        font-family: "NeueMontreal-Light";
        color: rgba(255, 255, 255, 0.4);
        padding: 10px 0px 10px 20px;
        margin: 0px 0px 40px;
    }
    .input-text {
        @extend .chose-problem;
        font-family: "NeueMontreal-Light";
        color: rgba(255, 255, 255, 0.4);
        padding: 10px 0px 0px 20px;
        height: 240px;
        resize: none;
        margin: 0px 0px 40px;
    }
    .send-req {
        font-family: "NeueMontreal-Bold";
        font-size: $primary-font;
        color: rgba(22, 54, 153, 1);
        padding: 14px 0px 14px 0px;
        cursor: pointer;
    }
    .inf-contact {
        width: 35%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.05);
        padding: 30px 30px;
        margin: 108px 0px 450px 60px;
    }
    .inf-zag-text {
        font-size: $primary-font;
        line-height: 31.2px;
        margin-bottom: 20px;
    }
    .inf-subtext {
        font-family: "NeueMontreal-light";
        font-size: 18px;
        line-height: 23.4px;
        font-weight: 400;
    }
}

/* FOOTER */ 
.footer {
    background: $background-color;
    
    .end {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 148px 0px 148px 0px;
    }
    .unknwn-end {
        font-size: 319px;
        line-height: 414.7px;
        color: transparent;
        -webkit-text-stroke: 1px rgba(52, 52, 52, 1); 
    }
    .stroke {
        position: absolute;
        top: 50%;
        display: flex;
        width: 150%;
        animation: 80s stroke infinite linear;
        animation-delay: -10s;
    }
    .mark {
        font-size: 26px;
        color: rgba(255, 255, 255, 0.2);
        margin-right: 30px;
        cursor: pointer;
        transition: color .2s linear;
    }
    .mark:hover {
        color: blue;
    }
    .mark:nth-child(even):hover {
        color: rgba(255, 255, 255, 1);
    }
    @keyframes stroke{
        0%  { transform: translate(100%, 0); }
        100% { transform: translate(-100%, 0); }
        }

    .nav-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 40px 24px 40px;
        border-top: 1px solid rgba(77, 77, 77, 1);
    }
    .logo-end {
        font-size: $primary-font;
        line-height: 31.2px;
        margin-right: 32px;
    }
    .end-menu {
        display: flex;
        align-items: flex-end;
    }
    .link-end {
        font-family: "NeueMontreal-Light";
        font-size: 16px;
        line-height: 20.8px;
        color: rgba(255, 255, 255, 0.6);
        margin-right: 24px;
        text-decoration: none;
    }
    .link-end:last-child {margin: 0}
    .f {
        @extend .link-end;
        font-size: 14px;
        line-height: 18.2px;
        color: $primary-color;
    }
}


@media (max-width: 1180px) {
    .container {
        width: calc(100% - 80px);
    }
    .user-profile {
        min-width: 310px!important;
    }
    .unknwn {
        width: 600px;
        background-size: cover;
    }
}
@media (max-width: 860px) {
    .container {
        width: calc(100% - 40px);
        padding: 0 20px;
    }
    .unknwn {
        width: 300px;
        background-size: cover;
    }
    .row {
        margin: 0 0px 0px -50px!important;
    }
    .item {
        width: 100%!important;
    }
    .about-us-text {
        width: 100%!important;
    }
    .left-side {
        width: 100%!important;
    }
    .inf-contact {
        display: none!important;
    }
}

@font-face {
    font-family: "NeueMontreal-Bold";
    src: url(/fonts/NeueMontreal-Bold.otf) format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "NeueMontreal-Light";
    src: url(/fonts/NeueMontreal-Light.otf) foram("truetype");
    font-style: normal;
}