@import url(c:\reset.css);
.cases .cases-intro, .unknwn-team .team-logo {
  font-size: 72px;
  color: white;
  line-height: 93.6px;
}

.about-us .about-us-text, .cases .maintext-project, .cases .cases-text-end, .unknwn-team .team-text, .contact .contact-zag {
  font-size: 49px;
  color: white;
  line-height: 63.7px;
}

body {
  margin: 0;
  font-family: "NeueMontreal-Bold";
  font-size: 24px;
  color: white;
  overflow-x: hidden;
}

h1, h2, p, a {
  margin: 0;
  font-weight: 400;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1180px;
  margin: 0 auto;
}
#menu {
  display: none;
}

.svg-item {
  position: absolute;
  top: 7px;
  left: 9px;
}

.top-container {
  width: 100%;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.line {
  width: 100%;
  margin: 0px 0px 52px;
  border-bottom: 1px solid #dedede;
}

.w-container {
  width: 100%;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #4D4D4D;
}

.w-container:nth-child(3) {
  border-top: none;
}

/* HEADER */
.header {
  background-color: #131313;
}

.header .nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 24px 40px;
  line-height: 31.2px;
  border-bottom: 1px solid #4d4d4d;
  background-color: #131313;
}

.header .link {
  text-decoration: none;
  margin-right: 36px;
  color: white;
}
.header .link:hover {
    text-decoration: underline;
}

.header .link:last-child {
  margin-right: 0;
}

.intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #131313;
}

.unknwn {
  position: absolute;
  font-size: 16.6vw;
  color: transparent;
  -webkit-text-stroke: 2px #343434;
}

.n-chance {
  position: absolute;
  font-size: 3.3vw;
  color: white;
}

.block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #4d4d4d;
}

.line-1-2 {
  width: 38%;
  border-left: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
}

.line-2-1 {
  width: 50%;
  height: 100%;
  border-right: 1px solid #4d4d4d;
}

.block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  height: 50%;
}

.unk {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
}
.unk1 {
  color: transparent;
  -webkit-text-stroke: 1px rgba(000, 000, 000);
}
.goddamn {
  position: relative;
}

/* ABOUT-US */
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 140px 0px 76px 0px;
}

.about-us .about-us-text {
  color: black;
  width: 70%;
  margin: 0 auto;
}

.about-us .color {
  color: blue;
}

/* CASES */
.cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #131313;
  padding: 72px 0px 174px 0px;
}

.cases .cases-intro {
  margin: 0px 0px 80px;
}

.cases .row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -50px;
}

.cases .item {
  width: 50%;
  padding: 56px 116px 56px 50px;
  border-left: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
}

.cases .item:nth-child(2) {
  border-left: none;
}

.cases .maintext-project {
  margin: 0px 0px 24px 0px;
}

.cases .subtext-project {
  font-family: "NeueMontreal-Light";
  max-width: 384px;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
}

.cases .cases-text-end {
  position: relative;
  margin-top: 96px;
  text-transform: uppercase;
}

/* UNKNWN-TEAM */
.unknwn-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0px 96px 0px;
}

.unknwn-team .team-logo {
  color: black;
  margin: 0px 0px 83px;
}

.unknwn-team .team-text {
  color: black;
  margin: 0px 0px 56px;
}

.unknwn-team .team-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px;
}

.unknwn-team .user-profile {
  width: 25%;
  padding: 30px 30px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}

.unknwn-team .user-profile:nth-child(2) {
  border-right: none;
  border-left: none;
}

.unknwn-team .user-profile:nth-child(4) {
  border-left: none;
}

.unknwn-team .user-pic {
  width: 250px;
  height: 250px;
}

.unknwn-team .name {
  font-size: 22px;
  line-height: 28.6px;
  color: black;
  padding: 20px 0px 4px;
}

.unknwn-team .who {
  font-family: "NeueMontreal-Light";
  font-size: 18px;
  line-height: 23.4px;
  color: black;
  font-weight: 400;
}

.unknwn-team .text-team-end {
  margin-top: 64px;
  font-size: 24px;
  line-height: 31.2px;
  color: black;
}

/* CONTACT */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 96px 0px 190px 0px;
  background-color: #163699;
}

.contact .rocol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.contact .contact-zag {
  margin: 0px 0px 50px;
}

.contact .main-contact {
  font-size: 24px;
  line-height: 31.2px;
  margin: 0px 0px 20px;
}

.contact .chose {
  margin-bottom: 30px;
}

.contact .chose-problem, .contact .input-em, .contact .input-text {
  font-family: "NeueMontreal-Bold";
  font-size: 18px;
  line-height: 23.4px;
  background: transparent;
  color: white;
  padding: 10px 20px 10px 20px;
  border: 1px solid white;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.chose-problem:hover {
  background-color: rgba(255, 255, 255);
  color: rgba(22, 54, 153, 1);
}
.chose-problem:focus {
  color: rgba(22, 54, 153, 1);
  background-color: rgba(255, 255, 255);
}

.contact .input-em {
  font-family: "NeueMontreal-Light";
  color: rgba(255, 255, 255, 0.4);
  padding: 10px 0px 10px 20px;
  margin: 0px 0px 40px;
}

.contact .input-text {
  font-family: "NeueMontreal-Light";
  color: rgba(255, 255, 255, 0.4);
  padding: 10px 0px 0px 20px;
  height: 240px;
  resize: none;
  margin: 0px 0px 40px;
}

.contact .send-req {
  font-family: "NeueMontreal-Bold";
  font-size: 24px;
  color: #163699;
  padding: 14px 0px 14px 0px;
  cursor: pointer;
}

.contact .inf-contact {
  width: 35%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px 30px;
  margin: 108px 0px 450px 60px;
}

.contact .inf-zag-text {
  font-size: 24px;
  line-height: 31.2px;
  margin-bottom: 20px;
}

.contact .inf-subtext {
  font-family: "NeueMontreal-light";
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
}

/* FOOTER */
.footer {
  background: #131313;
}

.footer .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 148px 0px 148px 0px;
}

.footer .unknwn-end {
  font-size: 16.6vw;
  line-height: 414.7px;
  color: transparent;
  -webkit-text-stroke: 1px #343434;
}

.footer .stroke {
  position: absolute;
  display: -webkit-box;
  width: 100%;
  -webkit-animation: 60s stroke infinite linear;
          animation: 60s stroke infinite linear;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.footer .mark {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.2);
  margin-right: 30px;
  cursor: pointer;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.footer .mark:hover {
  color: blue;
}

.footer .mark:nth-child(even):hover {
  color: white;
}

@-webkit-keyframes stroke {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes stroke {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

.footer .nav-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px 24px 40px;
  border-top: 1px solid #4d4d4d;
}

.footer .logo-end {
  font-size: 24px;
  line-height: 31.2px;
  margin-right: 32px;
}

.footer .end-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .link-end, .footer .f {
  font-family: "NeueMontreal-Light";
  font-size: 16px;
  line-height: 20.8px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 24px;
  text-decoration: none;
}
.link-end:hover {
  text-decoration: underline;
}

.footer .link-end:last-child, .footer .f:last-child {
  margin: 0;
}

.footer .f {
  font-size: 14px;
  line-height: 18.2px;
  color: white;
}

@media (max-width: 1180px) {
  .container {
    width: calc(100% - 80px);
  }
  .user-profile {
    min-width: 310px !important;
  }
  .user-profile:nth-child(1) {
    border-bottom: 1px solid #dedede;
  }
  .user-profile:nth-child(2) {
    border-bottom: 1px solid #dedede;
  }
  .user-profile:nth-child(3) {
    border-bottom: 1px solid #dedede;
  }
}

@media (max-width: 860px) {
  #menu {
    display: block !important;
  }
  .mobile-menu {
    font-size: 30px;
    text-decoration: none;
    color: rgba(250, 250, 250);
    margin-bottom: 40px;
}
.mobile-menu:hover {
  text-decoration: underline;
}
.menu-nav {
    display: none !important;
}
.mob-menu-on {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #131313;
  width: 100%;
  height: 100vh;
}
.btn-menu {
  background-color: #131313;
  border: #131313;
}
.menu-enter-active, .menu-leave-active {
  transition: opacity .5s;
}
.menu-enter, .menu-leave-to {
  opacity: 0;
}
  .intro {
    height: 60vh;
  }
  .top-container {
    border-top: 0px;
    border-bottom: 0px;
  }
  .w-container {
    border-top: 0px;
    border-bottom: 0px;
  }
  .container {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  .about-us-text {
    font-size: 30px !important;
    line-height: normal !important;
  }
  .team-text {
    font-size: 30px !important;
    line-height: normal !important;
  }
  .row {
    margin: 0 0px 0px -30px !important;
  }
  .item {
    width: 100% !important;
    padding-left: 30px !important;
  }
  .maintext-project {
    font-size: 35px !important;
    line-height: normal !important;
}
  .user-profile:nth-child(1) {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
  .user-profile:nth-child(2) {
    border-left: 1px solid #dedede !important;
    border-right: 1px solid #dedede !important;
    border-bottom: 1px solid #dedede;
  }
  .user-profile:nth-child(3) {
    border-bottom: 1px solid #dedede;
  }
  .user-profile:nth-child(4) {
    border-left: 1px solid #dedede !important;
    border-bottom: 1px solid #dedede;
  }
  .item:nth-child(1) {
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
  }
  .item:nth-child(2) {
    border-left: 1px solid #4d4d4d !important;
    border-bottom: 1px solid #4d4d4d;
  }
  .item:nth-child(4) {
    border-left: 1px solid #4d4d4d !important;
    border-bottom: 1px solid #4d4d4d;
  }
  .about-us-text {
    width: 100% !important;
  }
  .end-menu:nth-child(1) {
    display: none !important;
  }
  .input-em {
    font-size: 13px !important;
  }
  .input-text {
    font-size: 13px !important;
  }
  .end-menu {
    flex-wrap: wrap;
  }
  .f {
    padding-top: 10px !important;
  }
  .left-side {
    width: 100% !important;
  }
  .inf-contact {
    display: none !important;
  }
}

@font-face {
  font-family: "NeueMontreal-Bold";
  src: url(/fonts/NeueMontreal-Bold.otf) format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "NeueMontreal-Light";
  src: url(/fonts/NeueMontreal-Light.otf) foram("truetype");
  font-style: normal;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */